/* Header css */
nav {
width: 100%;
position: fixed;
z-index: 999;
}
.navLeft, .navRight {
    padding: 1em;
}
.navRight {
    width: 23%;
}
.navLeft {
    width: 25%;
}
/* Main css */
/* first section  */
section div > h1 {
    font-size: 5em;
    font-weight: 700;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.titleinfo p {
    line-height: 1em;
    font-size: 1.2em;
}
#jumbo {
    width: 100%;
}
/* 2th section */
#emptycircle {
    margin-right: 3em;
}
.containerSolutions {
    width:30%;
    border: 2px black solid;
    margin-top: 1em;
}
.containerSolutionsBottom {
    width:100%;
    border: 2px black solid;
    margin-top: 1em;
}
.containerSolutions h5,.containerSolutionsBottom h5 {
    text-align: center;
    padding: 0.6em 0;
}
.containerSolutions span:last-of-type {
    margin-bottom:9em;
}
.containerSolutions:nth-child(2) span:last-of-type{
    margin-bottom: 0em;
}
/* 3th section  */
#partner {
    width: 100%;
}
/* 4th section  */
.wid30 img {
    width: 100%;
}
.wid30 h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.wid50 h2 {
    margin-bottom:1em;
}
.containerBoxes {
    color: white;
    width: 50%;
    padding: 1em;
    height: 50%;
}
.containerBoxes img {
    width: 55%;
    color:white;
    
}

.bgdirtyWhite img {
    width:30%;
    margin-bottom: 2em;
}
.bgdirtyWhite hr {
    width: 30%;
}
.bgdirtyWhite p {
    margin-top: 2em;
    color: black;
}
.wid40 h3 {
    font-size: 30px;
    color: #61082b;
}
.padUpDown .fa-solid {
    margin-right:1em;
}
.padUpDown span {
    font-weight: 600;
}
